<mat-toolbar class="bg-primary">
  <a mat-button routerLink="">
    <mat-icon>local_movies</mat-icon>Angular peliculas
  </a>

  <a mat-button routerLink="peliculas/buscar"> <mat-icon>search</mat-icon>Buscar Peliculas </a>
  <a mat-button routerLink="generos"> <mat-icon></mat-icon>Generos </a>
  <a mat-button routerLink="actores"> <mat-icon></mat-icon>Actores </a>
  <a mat-button routerLink="peliculas"> <mat-icon></mat-icon>Peliculas </a>
  <a mat-button routerLink="cines"> <mat-icon></mat-icon>Cines </a>
</mat-toolbar>
