<div class="contenedor">

    <ul>
        <li *ngFor="let item of deseleccionados; let index = index" (click)="seleccionar(item, index)">{{item.value}}</li>
    </ul>
    
    <div class="div-botones">                    
        <button type="button" (click)="seleccionarTodo()"> >> </button>
        <button type="button" (click)="deseleccionarTodo()"> << </button>
    </div>
    
    <ul>
        <li *ngFor="let item of seleccionados; let index = index" (click)="deseleccionar(item, index)">{{item.value}}</li>
    </ul>

</div>
